{{ form_start(logForm) }}

    {{ form_row(logForm.startAt) }}
    {{ form_row(logForm.finishAt) }}
    {{ form_row(logForm.user) }}
    {{ form_row(logForm.project,{'value':project}) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(logForm) }}
