{% extends 'base.html.twig' %}

{% block title %}add task{% endblock %}

{% block body %}


    <div class="container">
        <h1>Add Task's details</h1>
        {{ include('logs/_form.html.twig', {
            button_text: 'Add!'
        }) }}
    </div>
{% endblock %}
