{% extends 'base.html.twig' %}

{% block title %}Hello HomeControlerController!{% endblock %}

{% block body %}

    <div class="container my-md-4">
        <div class="d-flex justify-content-between">
            <h1>Project Lists</h1>
            <a href="{{ path('app_project_new') }}" class="btn btn-primary mb-5 float-right"> create new project</a>
        </div>

        <div class="row">
            <div class="col-6">
                <h1>Logs overview </h1>
                <a href="{{ path('app_project_export',{id:projectId}) }}" role="button" class="btn btn-info">Export Logs</a>
                <a href="{{ path('app_project_logs_list_add',{'id':projectId}) }}" class="btn btn-primary mb-5 float-right"> Add
                    Task Timeline </a>
                <table class="table">
                    <thead>
                    <tr>
                        <th>start At</th>
                        <th>Finished AT</th>
                        <th>Duration</th>
                        <th>User</th>
                        <th>Project</th>
                        <th></th>
                        <th></th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for task in logs %}
                        <tr>
                            <td>
                                {{ task.startAt|date('Y-m-d h:m') }}
                            </td>
                            <td>
                                {{ task.finishAt|date('Y-m-d h:m') }}
                            </td>
                            <td>{{ task.duration.h }} hours {{ task.duration.h }} minutes </td>
                            <td>
                                {{ task.user.username }}
                            </td>
                            <td>
                                {{ task.project.title }}
                            </td>
                            <td>
                                <a href="{{ path('app_logs_edit',{ id: task.id}) }}" class="btn btn-info">Edit</a>
                            </td>
                            <td>

                                <a href="{{ path('app_logs_delete',{ id: task.id}) }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% else %}
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="col-6 p-5">
                <h4>Project tasks List</h4>
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>
{% endblock %}
