{% extends 'base.html.twig' %}

{% block title %}create Project{% endblock %}

{% block body %}


<div class="container">
    {{ include('project/_form.html.twig', {
        button_text: 'Create!'
    }) }}
</div>
{% endblock %}
