{% extends 'base.html.twig' %}

{% block title %}Hello HomeControlerController!{% endblock %}

{% block body %}


<div class="container">

    <h1>Project Lists</h1>
    <a href="{{ path('app_project_new') }}" class="btn btn-primary mb-5 float-right"> create new project</a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>

        </thead>
        <tbody>
        {% for project in projects %}
            <tr class="project-row" data-href="{{path('app_project_logs_list',{ id: project.id }) }}">
                <td>
                    {{ project.id }}
                </td>
                <td>
                    {{ project.title }}
                </td>
                <td>
                    {{ project.description }}
                </td>
                <td>
                    <a href="{{ path('app_project_export',{id:project.id}) }}" role="button" class="btn btn-info">Export Logs</a>
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>

    </table>

</div>
{% endblock %}
